.country{
    background-color: #34495e;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    border-radius: 0.6rem;
    transition: all 0.3s;
}
.country:hover{
    transform: scale(1.1);
}

.flag{
    width: 12rem;
    height: 7rem;
    margin-bottom: 5px;
}

.btn{
    border: none;
    border-radius: 0.2rem;
    padding: 0.4rem;
    cursor: pointer;
    background-color: orange;
    transition: all 0.3s;
    margin-top: 10px;
}

.btn:hover{
    background-color: red;
    color: white;
}

